.header {
    padding: 20px;
    background: #2a3050;
    font-size: 4vw;
    color: #fdc231;

    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0 #2e6eb5, -14px 7px 0 #193d75;
    text-align:  center;
}